body{
    background-image: url("back.jpg");
}
.image img{
    height: 350px;
    width: 350px;
    position: absolute;
    margin-left: 30px;
}
.sign{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:black;
}
.box1{
    border-radius: 8px;
    border-width: 8px;
    border-color: rgb(77, 50, 128);
    border-style: solid;
    width: 1000px;
    background-color: white;
    height: 500px;
}
#header{
    margin-top: 40px;
}
.box{
    padding-left: 40px;
}
.form{
    position: relative;
    margin-top: 60px;
}
input[type=text]{
    margin: 5px;
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
  }
  input[type=password]{
    margin: 5px;
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: black;
  }
  .btn5{
      background-color: rgb(89, 51, 150);
      text-align: center;
      padding: 5px;
      width: 82%;
      color: white;
      border: none;
      border-bottom: 2px solid;
      border-color: black;
      font-size: 16px
  }

@media (max-width: 765px){
    .box1{
        height: 800px;
        width: 500px;
    }
    .form{
        margin-top: 350px;
    }
}

@media (max-width: 360px){
    input[type=text]{
        font-size: 20px;
    }
    label[for=fname]{
        font-size: 20px;
    }
    input[type=password]{
        font-size: 20px;
    }
    label[for=fpassword]{
        font-size: 20px;
    }
}
